{include file="layout/new_header" /}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>

            <div class="cms_right_box1">
                <label>编辑公共变量</label>
            </div>
            <div class="cms_right_box2">
                <div class="cms_right_box2_write">
                    <div class="cms_right_box2_write_inner">
                        <form class="cmxform form-horizontal adminex-form" id="editForm" action="{:U('edit',array('id'=>$Think.get.id))}" method="post">
<!-- input -->
                        <div class="cms_right_box2_write_group1">
                            <label><span style="color:red">*</span>变量名</label>
                            <div class="cms_right_box2_write_group1_inner1">      
                                <input  id="name" name="name" type="text" value='{$info['name']|default=''}' />
                            </div>
                        </div>
<!-- input -->
                        <div class="cms_right_box2_write_group1">
                            <label><span style="color:red">*</span>变量描述</label>
                            <div class="cms_right_box2_write_group1_inner1">      
                                <input  id="description" name="description" type="text" value="{$info['description']|default=''}" />
                            </div>
                        </div>
<!-- 多图上传展示 -->
                        {if is_array($info['valueimg'])}
                            {foreach $info['valueimg'] as $k=>$i}
                        <div class="cms_right_box2_write_group1 valueselectionLine">
                            <input type="file" id='valueUp{$k}' name='0' style='display:none'>
                            <label><span style="color:red">*</span>变量值(jpg,png)</label>
                            <div class="cms_right_box2_write_group1_inner5">
                                <span>
                                    <input name='valueimgurl[]' value="{$i['img']|default=''}" id='valueValue{$k}' readonly/>
                                    <a href="javascript:;" id='valueClick{$k}'>选择图片</a>
                                </span>
                                <b>
                                    <img id='valueView{$k}'  src="{if  !empty($i['img']) }{$i['img']}{/if}" />
                                </b>
                            </div>                                    
                            <em>
                                <a href="javascrip:;" class='deleteLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_delete.png" />
                                </a>
                                <a href="javascript:;" class='addLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_add.png" />
                                </a>
                            </em>
                        </div>
                            {/foreach}
                        {else/}
                        <div class="cms_right_box2_write_group1 valueselectionLine">
                            <input type="file" id='valueUp' name='0' style='display:none'>
                            <label><span style="color:red">*</span>变量值(jpg,png)</label>
                            <div class="cms_right_box2_write_group1_inner5">
                                <span>
                                    <input name='valueimgurl[]' value='' id='valueValue' readonly/>
                                    <a href="javascript:;" id='valueClick'>选择图片</a>
                                </span>
                                <b>
                                    <img id='valueView' />
                                </b>
                            </div>
                            <em>
                                <a href="javascrip:;" class='deleteLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_delete.png" />
                                </a>
                                <a href="javascript:;" class='addLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_add.png" />
                                </a>
                            </em>
                        </div>
                        {/if}
                        <div class="cms_right_box2_write_group1">
                            <label><span style="color:red">*</span>配置类型</label>
                            <div class="cms_right_box2_write_group1_inner1">
                                <select id='type' name = 'type' readonly="readonly">
                                    <option value="0" {$info['type']==0? 'selected' :''}>string</option>
                                    <option value="1" {$info['type']==1? 'selected' :''}>bannerUrl</option>
                                    <option value="2" {$info['type']==2? 'selected' :''}>file</option>
                                    <option value="3" {$info['type']==3? 'selected' :''}>files</option>
                                </select>
                            </div>
                        </div>

                        <div class="cms_right_box2_write_group1 write_group_btn">
                            <a href="javascript:;" id="saveBtn">保存</a>
                        </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
            <div id='valueselectionTemplate' style='display:none'>
                        <div class="cms_right_box2_write_group1">
                            <input type="file"  name='0' style='display:none'>
                            <label>变量值(jpg,png)</label>
                            <div class="cms_right_box2_write_group1_inner5">
                                <span>
                                    <input name='valueimgurl[]' value='' readonly/>
                                    <a href="javascript:;" >选择图片</a>

                                </span>
                                <b>
                                    <img   />
                                </b>
                            </div>                                    
                            <em>
                                <a href="javascript:;" class='deleteLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_delete.png" />
                                </a>
                                <a href="javascript:;" class='addLineBtnvalue'>
                                    <img src="{$Think.__STATIC__}/cms/images/cms_list_add.png" />
                                </a>
                            </em>
                        </div>
            </div>


    <script type="text/javascript">
        var editor;
        $(function(){
            // 时间控件初始化
            initDateTimePickers();

            {if is_array($info['valueimg'])}
                {foreach $info['valueimg'] as $k=>$i}
            initFileUpload('#valueClick{$k}','#valueUp{$k}','#valueValue{$k}','#valueView{$k}')  
                {/foreach}
            {else/}
            initFileUpload('#valueClick','#valueUp','#valueValue','#valueView')  
            {/if}
            initAddLineBtn('value');
            initDeleteLineBtn('value');
            // 保存事件绑定
            initSaveBtn();

            // form验证初始化
            initValidate();


        });

        /**
         * 初始化时间控件
         */
        function initDateTimePickers(field) {
            $("#"+field).datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true,
                startDate: "2016-01-01 10:00"
            });
            $("#"+field+"Reset").click(function(){
                $("#"+field).val("");
            });
            $("#"+field+"Set").click(function(){
                $("#"+field).datetimepicker('show');
            });
        }

        /**
         * 文件上传框初始化
         */
        function initFileUpload(fieldClick,fieldUp,fieldValue,fieldView){
            $(fieldClick).bind("click", function(){
                return $(fieldUp).click();
            });

            $(fieldUp).fileupload({
                autoUpload:true,
                url:'{:U("upload/fileupload")}?photodir=fruit_common_configs',
                dataType:'json',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 5000000,
                added:function(e,data){
                  if (data.files.error) {
                      alert(data.files[0].error);
                      return false;
                  }
                },
                done:function(e,data){
                  $(fieldView).attr('src', data.result.url);
                  $(fieldValue).attr('value',data.result.url);
                }
            });        
        }
        
        /**
         * 富文本框初始化
         */
        function initKindEditor(field) {
            KindEditor.ready(function(K) {
                editor = K.create('#'+field, {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowImageUpload : true,
                    uploadJson : '{:U("upload/kindEditorUpload")}?photodir=fruit_common_configs_text',
                    height:350,
                    width:'100%',
                    items : [
                        'source','undo','clearhtml','hr',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image','link', 'unlink','baidumap','lineheight','table','anchor','preview','print','template','code','cut']
                });
            });
        }

        /**
         * 表单验证初始化
         */
        function initValidate() {
              // 手机号码验证
              jQuery.validator.addMethod("isPhone", function(value, element) {
                var length = value.length;
                return this.optional(element) || (length == 11 && /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/.test(value));
              }, "请正确填写您的手机号码。");
              
            $("#editForm").validate({
                rules: {

                },
                messages: {
                }
            });
        }
        /**
         * 保存按钮绑定
         */
        function initSaveBtn() {
            $("#saveBtn").bind("click", function(){
                if ($("#editForm").valid()) {
                    if($('#name').val()==''){
                        alert('请输入变量名');
                        return false;
                    }
                    if($('#description').val()==''){
                        alert('请输入变量描述');
                        return false;
                    }
                    mask = true
                    $('#editForm .valueimgurl').each(function(){
                        if($(this).val() == '' || $(this).val() == null){
                            alert("请上传变量值");
                            mask = false;
                        } 
                    })
                    if(!mask){
                        return false;
                    }
                    if($('#type').val()==''){
                        alert('请输入配置类型 0：string ，1：bannerUrl，2：file，3：files');
                        return false;
                    }
                    $("#editForm").submit();
                }
            });
        }
        function initAddLineBtn(field) {
            $(".addLineBtn"+field).click(function(){
                $("#editForm ."+field+"selectionLine").last().after($(addNewLine(field)));
                var num = Math.floor(Math.random()*10000+1);
                var up = field + 'Up' + num;
                var click = field + 'Click' + num;
                var view = field + 'View' + num;
                var value = field + 'Value' + num;
                $('#editForm .'+field+'selectionLine').last().children().first().attr('id',up);
                $('#editForm .'+field+'selectionLine').last().children('.cms_right_box2_write_group1_inner5').find('span').find('input').attr('id',value);
                $('#editForm .'+field+'selectionLine').last().children('.cms_right_box2_write_group1_inner5').find('span').find('a').attr('id',click);
                $('#editForm .'+field+'selectionLine').last().children('.cms_right_box2_write_group1_inner5').find('b').find('img').attr('id',view);
                initFileUpload('#'+click,'#'+up,'#'+value,'#'+view);
            });
        }
        function addNewLine(field) {
            var selectionLine = $("#"+field+"selectionTemplate").children().clone(true);
            $(selectionLine).show();
            $(selectionLine).removeAttr("id");
            $(selectionLine).addClass(field+'selectionLine');
            return selectionLine;
        }
        function initDeleteLineBtn(field) {
            $(".deleteLineBtn"+field).click(function(){
                var selectionLine = $("#editForm").find("div."+field+"selectionLine");
                if (selectionLine.length > 1) {
                    $(this).parents("div."+field+"selectionLine").remove();
                } else { 
                    $(this).parents("div."+field+"selectionLine").children('.cms_right_box2_write_group1_inner5').find('b').find('img').attr("src",'');
                    $(this).parents("div."+field+"selectionLine").find("input").val("");
                }
            });
        }

    </script>
   {include file="layout/new_footer" /}