{include file="layout/new_header" /}
            <div class="cms_right_box1">
                <label>重置密码</label>
            </div>
            <div class="cms_right_box2 ">
                <form  id="editFrom" action="{:U('resetpassword',array('id'=>$info.id))}" method="post">
                <div class="cms_right_box2_write">
                    <div class="cms_right_box2_write_inner">
                        <input type="hidden" name="id" value="{$info.id}" />
                        <div class="cms_right_box2_write_group1">
                            <label>后台用户名称</label>
                            <div class="cms_right_box2_write_group1_inner1">
                                <input id="username" name="username" type="text" value="{$info.username|default=''}"/>
                            </div>
                        </div>
                        <div class="cms_right_box2_write_group1">
                            <label>用户后台密码</label>
                            <div class="cms_right_box2_write_group1_inner1">
                                <input id="password" name="password" type="text" value=""/>
                            </div>
                        </div>
                        <div class="cms_right_box2_write_group1 write_group_btn">
                            <a href="javascript:;" id="saveBtn">保存</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
{include file="layout/new_footer" /}
    <script type="text/javascript">
        $(function(){
            $('#saveBtn').click(function(){
                if($('#username').val()==''){
                    alert('用户名称');
                    return false;
                }
                if($('#password').val()==''){
                    alert('密码不能为空');
                    return false;
                }
                $('#editFrom').submit();
            })
        })
    </script>
