{include file="layout/new_header" /}
            <div class="cms_right_box1">
                <form id="searchFrom" action='{:U("index")}' method='get'>
                    <label>后台角色列表：</label>
                    <div class="cms_right_box1_inner">
                        <em><span>角色名称</span><input  name="rolename" value="{$rolename|default=""}"  /></em>
                    </div>
                    <input type="hidden" name='pageSize' id='setPageSize'>
                </form>
                <b><a href="javascript:;" class='submit' style="background: #70c4e8;">查找</a><a href="javascript:;" id="resetval">清空</a></b>
            </div>
            <div class="cms_right_box2">
                <div class="cms_right_box2_title">
                    <div class="cms_right_box2_title_right"><a href="{:U('update')}"><img src="{$Think.__STATIC__}/cms/images/add.png" />新增角色</a></div>
                </div>
                <div class="cms_right_box2_table">
        <section class="panel">
            <div class="panel-body">
                <section id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf table-hover">
                        <thead class="cf">
                        <tr>
                            <th style="border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">ID</th>
                            <th style="border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">角色名称</th>
                            <th style="border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">分配模块</th>
                            <th class="width_limit" style="border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $arr as $k=>$list}
                        <tr>
                            <td data-title="ID">{$list.id}&nbsp;</td>
                            <td data-title="角色名称" title="{$list.rolename}">{$list.rolename}&nbsp;</td>
                            <td class="width_limit" data-title="分配模块" style="height: 40px;">
                                <a href="{:U('setmodel',array('id'=>$list.id))}" class="cms_list_edit"></a>
                            </td>
                            <td class="width_limit" data-title="操作" style="height: 40px;">
                                <a href="{:U('update',array('id'=>$list.id))}" class="cms_list_edit"></a>
                                <a href="{:U('delete',array('id'=>$list.id))}" class="cms_list_delete"></a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
        </div>
    </div>
</div>
{include file="layout/new_pager" /}
</div>
{include file="layout/new_footer" /}


<script>
    $(function(){

        $('.submit').click(function(){
            
            pageSize = $('#pageSize[name="pageSize"]').val();
            $('#setPageSize').val(pageSize);
            return $('#searchFrom').submit();
        })
        $('#resetval').click(function(){
            $('#searchFrom').find('input').val('');
            $('#searchFrom').find('select').val('');
            $('#pageSize[name="pageSize"]').val('25');
            
        })
    })
</script>
