{include file="layout/new_header" /}
            <div class="cms_right_box1">
                <label>编辑大模块</label>
            </div>
            <div class="cms_right_box2">
                <div class="cms_right_box2_write">
                    <form id="editFrom" action="{:U('edit',array('id'=>$Think.get.id))}" method="post">
                    <div class="cms_right_box2_write_inner">
                        <div class="cms_right_box2_write_group1">
                            <label>名称</label>
                            <div class="cms_right_box2_write_group1_inner1"><input  id="name" name="name" type="text" value="{$info.name|default=''}" /></div>
                        </div>

                        <div class="cms_right_box2_write_group1">
                            <label>状态</label>
                            <div class="cms_right_box2_write_group1_inner1">
                                <select id='status' name = 'status'>
                                        <option value="0" {$info.status==0? 'selected' : ''}>正常</option>
                                        <option value="4" {$info.status==4? 'selected' : ''}>删除</option>
                                </select>
                            </div>
                        </div>

                        <div class="cms_right_box2_write_group1 write_group_btn">
                            <a href="javascript:;" id="saveBtn">保存</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        
{include file="layout/new_footer" /}
    <script type="text/javascript">
        $(function(){

            // 保存事件绑定
            initSaveBtn();

        });
        /**
         * 保存按钮绑定
         */
        function initSaveBtn() {
            $("#saveBtn").bind("click", function(){
                if ($("#editFrom").valid()) {
 
                    $("#editFrom").submit();
                }
            });
        }
    </script>