{include file="layout/new_header" /}
            <div class="cms_right_box1">
                <label>添加/编辑IP</label>
            </div>
            <div class="cms_right_box2">
                <div class="cms_right_box2_write">
                    <form id="editFrom" action="{:U('update',array('id'=>$info.id))}" method="post">
                    <div class="cms_right_box2_write_inner">
                        <div class="cms_right_box2_write_group1">
                            <label>IP</label>
                            <div class="cms_right_box2_write_group1_inner1"><input  id="ip" name="ip" type="text" value="{$info.ip|default=''}"/></div>
                        </div>

                        <div class="cms_right_box2_write_group1 write_group_btn">
                            <a href="javascript:;" id="saveBtn">保存</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        
{include file="layout/new_footer" /}
    <script type="text/javascript">
        $(function(){
            $('#saveBtn').click(function(){
                if($('#ip').val()==''){
                    alert('菜单名称不能为空');
                    return false;
                }
                $('#editFrom').submit();
            })
        })
    </script>